h1{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background: rgb(168, 211, 141);
    margin-top: 120px;
}


table {
  margin: 50px;
}

.light-cell {
  background: rgb(211, 210, 210);
  width: 45px;
  height: 45px;
}

.dark-cell {
  background: rgb(63, 63, 63);
  width: 45px;
  height: 45px;
}

.selected{
  background: rgb(105, 183, 211);
}



 

